body {
	font-family: "Roboto", sans-serif;
}

.img-cover {
    object-fit: cover;
    height: 150px;
}
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
.img-thumbnail {
    object-fit: cover;
    width: 150px;
}

.img-product {
	width : 300px;
	object-fit: cover;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
}

.btn-primary {
	background-color: #0d6efd !important;
}

input {
	text-align: center;
}

#itemsInCart {
	color: #fff;
	border-radius: 15px;
	background: linear-gradient(to right, #d38b3d, 35%, #8673f1);
	padding: 1px 9px;
	text-align: center;
}